@import "multiselect.scss";

html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    font-family: Roboto, sans-serif;
    background: var(--surface-a);
    padding: 1rem;
    max-height: 220px;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--surface-d) var(--surface-c);
}

p {
    font-weight: 300;
}